/* navigation bar*/

body {
  font-family: "open sans";
}

.nav__bar {
  background-color: #ffffff;
}

.nav__bar-logo {
  color: #335576;
}

.nav__links {
  border-bottom: 1px solid #fff;
  padding: 5px;
  margin: 2px;
  list-style-type: none;
}
