/* navigation bar*/
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Verdana";
}

.header {
  background-color: white;
  color: #335576;
  border: 0.16rem;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 99;
}

.header__left {
  display: flex;
  align-items: flex-end;
}

.header__right {
  display: flex;
  align-items: flex-end;
}

.header__nav-logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #335576;
  padding-left: 7rem;
}

.header__nav-links {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2rem;
  padding-right: 4rem;
}

a {
  position: relative;
  text-decoration: none;
  color: black;
  padding-bottom: 0.8rem;
}

.nav-anchor:hover::after {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  border: 1px solid #db7a4e;
}

.bottom-right {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 1.4rem;
}
.header__nav-links-item {
  text-decoration: none;
  list-style-type: none;
  padding: 0.16rem 1rem;
  color: black;
}

/* main section*/

.main__title {
  color: white;
  padding: 3rem 6.5rem;
  font-size: 4.75rem;
}

.main__section-greece {
  background-image: url("../assets/images/greece.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 11.688rem;
}

.main__section-hawaii {
  background-image: url("../assets/images/hawaii.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 11.688rem;
}

.main__section-iceland {
  background-image: url("../assets/images/iceland.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 11.688rem;
}

/* Card container*/

.card__container {
  display: flex;

  justify-content: center;
}

.card {
  border-radius: 0.313rem;
  margin: 1.25rem;
  width: 18.125rem;
  height: 25rem;
  background-color: white;
  padding: 0.875rem;
}
.card__title {
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
  left: 5%;
  right: 5%;
  font-size: 1.875rem;
}

.card_text {
  background-color: #fefaf5;
  text-align: center;
  font-size: 0.938rem;
  font-weight: 400;
  padding: 0.938rem;
  margin-top: 1.25rem;
}

/* FOOTER */

.footer {
  background-color: #fefaf5;
  padding: 3.125rem 10.25rem;
}

.footer__subtitle {
  color: #db7a4e;
}

.footer__subtitle-days {
  color: #db7a4e;
  margin-right: 2.313rem;
}

.footer__subtitle-saturday {
  color: #db7a4e;
  margin-right: 6.93rem;
}

.footer__text-times {
  color: #335576;
  margin-right: 2.05rem;
}

.footer__subtitle {
  padding-bottom: 1.25rem;
}

.footer__title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #335576;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.footer__text {
  color: #335576;
}

.footer__days,
.footer__hours,
.footer__subtitle {
  display: flex;
  flex-direction: row;
}

.footer__section {
  display: flex;
  justify-content: space-around;
}

.icon {
  min-width: 0.8rem;
  max-width: 2rem;
  min-height: 0.8rem;
  max-height: 2rem;
  margin-right: 1.875rem;
  margin-top: 1.563rem;
}
