/* navigation bar*/

/* navigation bar*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: white;
  color: #335576;
  border: 0.16rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.header__left {
  display: flex;
  align-items: flex-end;
}

.header__right {
  display: flex;
  align-items: flex-end;
}

.header__nav-logo {
  font-size: 1.06rem;
  font-weight: bold;
  color: #335576;
  padding-left: 7rem;
}

.header__nav-links {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style-type: none;
  font-size: 1rem;
  padding-right: 4rem;
}

a {
  position: relative;
  text-decoration: none;
  color: black;
  padding-bottom: 0.8rem;
}

.nav-anchor:hover::after {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  border: 1px solid #db7a4e;
}

.bottom-right {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 1.4rem;
}
.header__nav-links-item {
  text-decoration: none;
  list-style-type: none;
  padding: 0.16rem 1rem;
  color: black;
}

/* hero top  (homepage)*/

.main-content__left {
  background-color: black;
  border: 0.16rem;
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  margin-top: 15.625rem;
}
.main-content__top {
  background-color: #fefaf5;
  display: flex;

  justify-content: center;
  padding: 5rem;
}

.main-content__top-left {
  margin: auto;
  margin-left: 2.5rem;
}

h1 {
  color: #335576;
  padding-bottom: 2rem;
}

p {
  color: #335576;
  padding-bottom: 2rem;
}
button {
  padding: 0.56rem 2rem;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #db7a4e;
}

/* hero bottom */

h2 {
  font-size: 2.06rem;
  font-weight: bold;
  color: #335576;
  padding-left: 7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.product__items {
  justify-content: center;
}
.product__container {
  display: flex;
  justify-content: space-evenly;
  margin: 1.6rem 1.2rem;
  box-sizing: border-box;
}

.product__image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  min-height: 400px;
  max-height: 250px;
}
.product__hawaii,
.product__iceland,
.product__greece {
  border-radius: 5px;
  color: black;
  position: relative;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-weight: bold;
}

.heading__item-name {
  color: black;
}

/* footer */

.footer {
  display: block;
  justify-content: left;
  text-align: center;
  background-color: #fefaf5;
}

.footer__sections {
  border: 10px bold black;
  text-align: left;
  width: max-content;
}

.footer__title {
  font-size: 2.06rem;
  font-weight: bold;
  color: #335576;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

.footer__subtitle {
  color: #db7a4e;
  display: flex;
}

.footer__info {
  color: #335576;
  display: flex;
}

.icon {
  padding-left: 3rem;
}
